/*
 * TunePad
 *
 * Michael S. Horn
 * Northwestern University
 * michael-horn@northwestern.edu
 * Copyright 2017, Michael S. Horn
 *
 * This project was funded by the National Science Foundation (grant DRL-1612619).
 * Any opinions, findings and conclusions or recommendations expressed in this
 * material are those of the author(s) and do not necessarily reflect the views
 * of the National Science Foundation (NSF).
 */
 
* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);    
}

body {
  margin: 0;
  background-color: #666;
}

#content {
  position: relative;
}

#restart-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1.5px solid rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  outline: none;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.8);
}

#restart-button:active {
  background-color: rgba(255, 255, 255, 0.3);
}